Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
torch
torchvision
Unidecode
tqdm
scikit-maad
praat-parselmouth
fairseq==0.12.2
onnx
onnxsim
onnxoptimizer
pyworld
#gradio
monotonic-align
sounddevice